<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Borrowed Books</title>
</head>
<body>
        <h1>Borrowed Books</h1>
        <form>
                <input type='button'value='back'onclick="window.location.href='/check/back'" />
        </form>

        <%for(var i=0;i<booknamearr.length;i++){%>
            <%console.log("booname")%>
            <%console.log(booknamearr[i])%>
            <%console.log("bookid")%>
            <%console.log(bookidarr[i])%>
            <%console.log("index")%>
            <%console.log(indexarr[i])%>



        <%}%>


    
</body>
</html>